/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{
    font-family:'Inter',sans-serif;
    background:#111111;
    color:white;
}

/* TOPBAR */

.topbar{
    height:80px;
    background:#0a0a0a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    border-bottom:1px solid #1f1f1f;
}

/* LOGO */

.logo-section h3{
    font-size:28px;
    font-weight:700;
    color:#dc2626;
    margin:0;
}

/* USER BOX */

.user-box{
    display:flex;
    align-items:center;
    gap:14px;
    background:#181818;
    padding:10px 16px;
    border-radius:16px;
    border:1px solid #262626;
}

/* AVATAR */

.avatar{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#b91c1c;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
    color:white;
}

/* USER INFO */

.user-info strong{
    display:block;
    font-size:14px;
}

.user-info p{
    margin:0;
    color:#9ca3af;
    font-size:13px;
    text-transform:capitalize;
}

/* MAIN */

.main-wrapper{
    padding:50px;
}

/* HERO */

.hero{
    text-align:center;
    margin-bottom:50px;
}

.hero h1{
    font-size:52px;
    font-weight:700;
    margin-bottom:10px;
}

.hero p{
    color:#9ca3af;
    font-size:18px;
}

/* GRID */

.modules-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

/* CARD */

.module-card{
    background:#181818;
    border:1px solid #262626;
    border-radius:22px;
    padding:35px 25px;
    text-decoration:none;
    color:white;
    transition:all .3s ease;
    min-height:220px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

/* HOVER */

.module-card:hover{
    transform:translateY(-8px);
    border-color:#b91c1c;
    box-shadow:0 12px 30px rgba(185,28,28,0.25);
    color:white;
}

/* ICON */

.module-card i{
    font-size:45px;
    color:#dc2626;
    margin-bottom:20px;
}

/* TITLE */

.module-card h4{
    font-size:24px;
    font-weight:600;
    margin-bottom:10px;
}

/* DESCRIPTION */

.module-card span{
    color:#9ca3af;
    font-size:15px;
    line-height:1.5;
}

/* BUTTON LOGOUT */

.btn-danger{
    background:#b91c1c;
    border:none;
}

.btn-danger:hover{
    background:#991b1b;
}

/* RESPONSIVE */

@media(max-width:768px){

    .topbar{
        height:auto;
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    .main-wrapper{
        padding:25px;
    }

    .hero h1{
        font-size:36px;
    }

    .modules-grid{
        grid-template-columns:1fr;
    }

}